<div class="jumbotron">
  <div class="container">
    <h1>...</h1>
    <p>
      There's nothing to learn!
      <br>
      Rent your cats out today!
    </p>
    <p>
      <a class="btn btn-primary btn-lg" 
          href="<%= new_session_url %>" 
          role="button">Back to Home »</a>
    </p>
  </div>
</div>