<div class="jumbotron">
  <div class="container">
    <h1>Cats for Jimmies!</h1>
    <p>
      Have you just had one of those days where you look around and see that you have way too many cats?
      <br>
      Rent your cats out today!
    </p>
    <p><a class="btn btn-primary btn-lg" href="<%= about_path %>" role="button">Learn more »</a></p>
  </div>
</div>