<div class="col-md-4 col-md-offset-4">

	<h1 class="text-center">All Your Cats</h1>

	<div class="list-group" style="display:inline;">

	  <% @your_cats.each do |cat| %>
	  	<a href="<%= cat_url(cat) %>" class="list-group-item" >
	  		<%= cat.name %>
	  	</a>
	  <% end %>

	</div>


	<%= link_to "Create a cat!", new_cat_url, 
			class: "btn btn-large btn-primary col-md-offset-4" %>
</div>