<div class="col-md-4 col-md-offset-4">

	<h1 class="text-center">Requestable cats</h1>

	<div class="list-group" style="display:inline;">

	  <% @other_cats.each do |cat| %>
	    <%= link_to cat.name, cat_url(cat), class: "list-group-item" %>
	  <% end %>

	</div>

</div>