<div class="jumbotron">
  <div class="container" style="margin-top:70px;">
    <div class="col-md-6" style="padding-left:0px;">
    	<h1 style="font-size:72px">Select a cat!</h1>
      <br>
    </div>
  
    <div class="col-md-4">
      <select onchange="location = this.options[this.selectedIndex].value;"
              class="form-control"
              style="margin-top:50px;">
        <option></option>
    	  <% @other_cats.each do |cat| %>
          <option value="<%= cat_url(cat) %>"><%= cat.name %></option>
    	  <% end %>
      </select>

    </div>

  </div>